<!DOCTYPE html>
<html>
    <head>
        <title>About Us</title>
        <style>
            textarea {
                resize: none;
            }
        </style>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="style/main.css">
    </head>

    <body style ="padding:5px">
        <%= erb :"common/taskbar" %>
        <h1>About Us</h1>
        <h2>Contact Information</h2>
        <section style="border: 1px solid black; padding: 5px;">
            <p>Address <br><br>
            Email <br><br>
            Phone </p>
        </section>
    </body>





</html>