<!DOCTYPE html>
<html>

    <head>
        <title> Contact Us </title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="style/main.css">
    </head>

    <body>
        
        <%= erb :"common/taskbar" %>  

        <div class="log-in-background">
            <main class="main-centre">
                <div class = "edit">
                    <h1>Please enter your query and your details below, the staff will soon be in contact with you.</h1>
                </div>

                    <form method = "post"; action="mailto:contact@staff.com" enctype="text/plain"; style="grid-template-rows: none; grid-gap: 10px;> 
                        <label for="name">Name:</label>
                        <div class="text-input">
                            <input id="name" type="text" name="name">
                        </div>

                        <!--check for valid email adress-->
                        
                        <label for="email">Email:</label>
                        <div class="text-input">
                            <input id="email" type="text" name="email">
                        </div>

                        <div class="text-input">
                            <textarea id = "comments" name="comments" rows="5" cols="50" placeholder="Hi there, how can I help you?" ></textarea>
                        </div>
                        
                        <!-- submit button -->
                        <input id="submit" type="submit" value="Submit"/>
                    </form>
            </main>
        </div>
    
    </body>

</html>