<!DOCTYPE html>
<head>
    <title> Purchase </title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../style/main.css" type="text/css">
</head>
<body>
    <%= erb :"common/taskbar" %>
    <div class="log-in-background">
        <main class="main-centre">
            <form action="/purchase" method="post">
                <h1> This will cost <%= @cost %> COM_pounds </h1>
                <div>
                    <label for="name"> Name on card </label>
                    <div class="text-input">
                        <input name="name" id="name" type="text"/>
                    </div>
                </div>
                <div>
                    <label for="cvv"> CVV </label>
                    <div class="text-input">
                        <input name="cvv" id="cvv" type="number" max="999" min="0"/>
                    </div>
                </div>
                <div>
                    <label for="card_number"> Card Number </label>
                    <div class="text-input">
                        <input name="card_number" id="card-number" maxlength="" required minlength=/>
                    </div>
                </div>
                <input type="hidden" value=<%=@cost%> name="cost"/>
                <input id = "submit" type="submit" value="Purchase"/>
            </form>
            <% if !@error.nil? then %>
                <p><%= @error %></p>
            <% end %>
        </main>
    </div>
</body>