<!DOCTYPE html>
<head>
    <title> Sign up </title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="style/main.css">
</head>
<body>
    <%= erb :"common/taskbar" %>
    <div class="log-in-background">
        <main class="main-centre">
            <div>
                <h1>Sign up</h1>
                <h2>to continue reading</h2>
            </div>
            <form id="sign-up-form" method="post" action="/sign-up">
                <div>
                    <label for="email">Email address</label><br>
                    <div class="text-input">
                        <input id="email" name="email" maxlength="64" autocomplete="email"/>
                    </div>
                </div>
                <div>
                    <label for="username">Username</label><br>
                    <div class="text-input">
                        <input id="username" name="username" maxlength="12" autocomplete="username"/>
                    </div>
                </div>
                <div>
                    <label for="password">Password</label><br>
                    <div class="text-input">
                        <input id="password" name="password" maxlength="28" autocomplete="password" type="password"/>
                        <button type="button" id="password-toggle-icon"> <img src="images/visibility_off.svg" alt="toggle password"/>
                    </div>
                </div>
                <input id = "submit" type="submit" value="Sign up"/>
            </form>
            <% if !@error.nil? then %>
                <p><%= @error %></p>
            <% end %>
        </main>
    </div>
    <script src="scripts/login.js"></script>
</body>
